{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <title>Together</title>
</head>
<body>
    <header id="headerchat">
        <div class="top">
            <nav class="navbar">
            <h1 style="color: rgb(255, 255, 255);">Together</h1>
            {% if request.user.is_authenticated %}
            <a href = "{% url 'logout-user' %}"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"/>
                <path d="M7 12h14l-3 -3m0 6l3 -3"/>
            </svg></a>
            {% endif %}
        </nav>
        <div class="users">
            <ul class="user-list">
                {% for user in users %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="caja" id="caja">
        </div>
        <div class="enviar">
            <input id="mensaje" type="text">
            <button type="submit" id="send">Send</button>
        </div>
        <script>
            const chatSocket = new WebSocket("ws://" + window.location.host + "/");
        chatSocket.onopen = function (e) {
                console.log("The connection was setup successfully !");
            };
            chatSocket.onclose = function (e) {
                console.log("Something unexpected happened !");
            };
            document.querySelector("#mensaje").focus();
            document.querySelector("#mensaje").onkeyup = function (e) {
                if (e.keyCode == 13) {
                    document.querySelector("#send").click();
                }
            };
            document.querySelector("#send").onclick = function (e) {
                var messageInput = document.querySelector(
                "#mensaje"
                ).value;
                chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
            };
            
            function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
            }
            var usernameColors = {};

            chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (!usernameColors[data.username]) {
                usernameColors[data.username] = getRandomColor();
            }
            var div = document.createElement("div");
            var usernameSpan = document.createElement("span");
            usernameSpan.style.color = usernameColors[data.username];
            usernameSpan.textContent = data.username;
            div.appendChild(usernameSpan);
            div.appendChild(document.createTextNode(": "+data.message));
            document.querySelector("#mensaje").value = "";
            document.querySelector("#caja").appendChild(div);
            let contenedor = document.getElementById('caja');
            contenedor.scrollTop = contenedor.scrollHeight;
            };
            </script>        
        </header>
    </body>
</html>